@use "../theme/spacing";

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  padding: spacing.$xxs;
  padding-top: 0;
  box-sizing: border-box;
}

.img {
  width: spacing.$l;
  object-fit: contain;
}

.main_content {
  display: flex;
  flex-grow: 1;
  padding: spacing.$xs;
  justify-content: center;
}
