// primary
$primary-x10: rgba(128, 0, 128, 0.062);
$primary-x50: rgba(128, 0, 128, 0.137);
$primary-x100: rgb(199, 0, 199);
$primary-x500: purple;
$primary-x900: rgb(83, 0, 83);

// dark
$black: black;

// light
$white: white;

// danger
$danger-x100: rgb(255, 86, 86);
$danger-x500: red;
$danger-x900: rgb(167, 0, 0);

// success
$success-x100: rgb(0, 185, 0);
$success-x500: green;
$success-x900: rgb(0, 71, 0);

// warning
$warning-x100: rgb(255, 255, 136);
$warning-x500: yellow;
$warning-x900: rgb(201, 201, 0);

// grey-color
$grey-x10: rgb(216, 216, 216);
$grey-x50: rgb(185, 185, 185);
$grey-x100: rgb(163, 163, 163);
$grey-x200: rgb(151, 151, 151);
$grey-x300: rgb(129, 129, 129);
$grey-x500: rgb(104, 104, 104);
$grey-x900: rgb(70, 70, 70);
